langchain
langchain-community
langchain-openai
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
openai
python-dotenv
traceloop-sdk
botocore
boto3
setuptools
./aws_opentelemetry_distro_genai_beta-0.1.0b4-py3-none-any.whl
