fastapi
uvicorn[standard]
pydantic
crewai
crewai-tools
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
opentelemetry-exporter-otlp-proto-http
traceloop-sdk
boto3
botocore
aws-opentelemetry-distro-genai-beta==0.1.0b7
python-dotenv
setuptools 
