langchain
langchain-community
langchain-openai
opentelemetry-instrumentation-langchain
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
openai
python-dotenv
aws-opentelemetry-distro==0.9.0
botocore
boto3
