langchain
langchain-community
langchain-aws
opentelemetry-instrumentation-langchain
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
python-dotenv
botocore
boto3
setuptools
./aws_opentelemetry_distro_genai_beta-0.1.1-py3-none-any.whl
fastapi
uvicorn[standard] 
