setuptools
python-dotenv
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
opentelemetry-exporter-otlp
crewai
crewai-tools
openlit
boto3
botocore
fastapi
uvicorn[standard]
pydantic
aws-opentelemetry-distro-genai-beta==0.1.0b7
