langchain
langchain-community
langchain-aws
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
python-dotenv
openinference-instrumentation-langchain
botocore
setuptools
boto3
fastapi
uvicorn
aws-opentelemetry-distro-genai-beta==0.1.0b7
