langchain
langchain-community
langchain-aws
opentelemetry-sdk
opentelemetry-api
opentelemetry-semantic-conventions
python-dotenv
openinference-instrumentation-langchain
botocore
setuptools
boto3
fastapi
uvicorn
./aws_opentelemetry_distro_genai_beta-0.1.0b8-py3-none-any.whl
